{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
        {{ .Content }}
    </header>

    {{ range where .Site.RegularPages "Section" "post" }}
    <article class="post">
        <header class="post__header">
            <h1>
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                <span class="date">{{ .Date.Format "2 January 2006" }}</span>
            </h1>
        </header>
    </article>
    {{ end }}
{{ end }}
